Node-RED backup.json
[{"id":"885ca21a.80cba","type":"tab","label":"mqtt esp32","disabled":false,"info":""},{"id":"e028494e.6bc3e8","type":"mqtt in","z":"885ca21a.80cba","name":"","topic":"/topic/qos0","qos":"0","datatype":"auto","broker":"f46031cc.a4c45","nl":false,"rap":true,"rh":0,"x":180,"y":160,"wires":[["a5316105.7556b"]]},{"id":"a5316105.7556b","type":"debug","z":"885ca21a.80cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":160,"wires":[]},{"id":"2adc0a9.9849af6","type":"mqtt out","z":"885ca21a.80cba","name":"","topic":"/topic/qos0","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f46031cc.a4c45","x":290,"y":60,"wires":[]},{"id":"16e30350.5709ad","type":"inject","z":"885ca21a.80cba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["2adc0a9.9849af6"]]},{"id":"383aac46.178e54","type":"mqtt in","z":"885ca21a.80cba","name":"","topic":"/topic/espnow_data","qos":"0","datatype":"auto","broker":"f46031cc.a4c45","nl":false,"rap":true,"rh":0,"x":210,"y":240,"wires":[["643e504a.0100f","c460890b.233bd8"]]},{"id":"643e504a.0100f","type":"debug","z":"885ca21a.80cba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"c460890b.233bd8","type":"function","z":"885ca21a.80cba","name":"","func":"var temp = 0;   // 21.55 deg c\nvar ptime = 0; // 158,001 milli seconds\nvar batv = 0;  // 3.78 V\nvar batt_dev_mac = \"\"; // 30:ae:a4:7e:50:90\nvar g_dev_mac = \"\"; // 30:ae:a4:7e:50:90\n\nvar data = msg.payload;\nvar data_len = data.length;\n\n// function toHexString(byteArray) {\n//   return Array.from(byteArray, function(byte) {\n//     return ('0' + (byte & 0xFF).toString(16)).slice(-2);\n//   }).join('')\n// }\n\n// temp\n// for (var x = 2; x < 6; x++)\nfor (var x = 0; x < 4; x++)\n{\n    temp += data[x] << (x * 8);\n}\n// need to divide temp by 16 to get temperature in deg. C\ntemp = temp / 16;\n\n// program time\n// for (var y = 6; y < 10; y++)\nfor (var y = 4; y < 8; y++)\n{\n    ptime += data[y] << (y * 8);\n}\n\n// bat voltage\n// for (var z = 10; z < 14; z++)\nfor (var z = 8; z < 12; z++)\n{\n    batv += data[z] << (z * 8);\n}\n\n// crc must be bytes 12 and 13\n\n// batt_dev MAC address\nfor (var a = 14; a < 20; a++)\n// for (var a = 12; a < 18; a++)\n{\n    batt_dev_mac += (data[a] & 0xFF).toString(16);\n    if(a < 20-1){\n        batt_dev_mac += \":\";\n    }\n}\n\n// g_dev MAC address\nfor (var b = 20; b < 26; b++)\n// for (var b = 18; b < 24; b++)\n{\n    g_dev_mac += (data[b] & 0xFF).toString(16);\n    if(b < 26-1){\n        g_dev_mac += \":\";\n    }\n}\n\n// printf(\"temp: %d\\n\", temp);\n// printf(\"ptime: %d\\n\", ptime);\n// printf(\"batv: %d\\n\", batv);\n\n// for (uint32_t i = 0; i < data_len; i++)\n// {\n//     printf(\"data[%d]: %d\\n\", i, data[i]);\n// }\n\n// printf(\"data len: %d\\n\", data_len);\n\n\n\nmsg.parsed = {\n    \"temp\": temp,\n    \"ptime\": ptime,\n    \"batv\": batv,\n    \"data_len\": data_len,\n    \"batt_dev_mac\": batt_dev_mac,\n    \"g_dev_mac\": g_dev_mac\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":340,"wires":[["ac508db4.b95c2"]]},{"id":"ac508db4.b95c2","type":"debug","z":"885ca21a.80cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"parsed","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"a213e589.ccc158","type":"comment","z":"885ca21a.80cba","name":"","info":"Expected:\n\n    int32_t temp = 2155;     // 21.55 deg c\n    uint32_t ptime = 158001; // 158,001 milli seconds\n    uint32_t batv = 378;     // 3.78 V","x":390,"y":400,"wires":[]},{"id":"f46031cc.a4c45","type":"mqtt-broker","name":"my_mqtt_broker","broker":"192.168.1.145","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]